.bleed-classes(@padding-top, @padding-right: @padding-top, @padding-bottom: @padding-top, @padding-left: @padding-right) {

    .bleed-top() {
        margin-top: -@padding-top;
    }

    .bleed-right() {
        margin-right: -@padding-right;
    }

    .bleed-bottom() {
        margin-bottom: -@padding-bottom;
    }

    .bleed-left() {
        margin-left: -@padding-left;
    }

    .make-bleed-layout(@type) {
        .fullbleed-@{type}-top,
        .fullbleed-@{type}-bottom,
        .fullbleed-@{type}-left,
        .fullbleed-@{type}-right,
        .fullbleed-@{type},
        .nobleed-@{type} {
            // reset margin always to 0
            margin: 0;
        }

        .fullbleed-@{type}-top,
        .fullbleed-@{type}-bottom,
        .fullbleed-@{type} {
            /* horizontal */
            display: block;
            width: auto;
            .bleed-right;
            .bleed-left;
        }

        .fullbleed-@{type}-left,
        .fullbleed-@{type}-right,
        .fullbleed-@{type} {
            /* vertical */
            .bleed-top;
            .bleed-bottom;
        }

        .fullbleed-@{type}-top {
            .bleed-top;
        }

        .fullbleed-@{type}-right {
            .bleed-right;
        }

        .fullbleed-@{type}-bottom {
            .bleed-bottom;
        }

        .fullbleed-@{type}-left {
            .bleed-left;
        }
    }

    .make-bleed-layout(xs);

    @media (min-width: @screen-sm-min) {
        .make-bleed-layout(sm);
    }

    @media (min-width: @screen-md-min) {
        .make-bleed-layout(md);
    }

    @media (min-width: @screen-lg-min) {
        .make-bleed-layout(lg);
    }
}

.bleedable-padding(@padding-top, @padding-right: @padding-top, @padding-bottom: @padding-top, @padding-left: @padding-right) {
    padding: @padding-top @padding-right @padding-bottom @padding-left;
    .bleed-classes(@padding-top, @padding-right, @padding-bottom, @padding-left);
}